/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Указываем box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: fantasy, sans-serif, serif; 
}
html,body{
    height: 100%;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}
/* Убираем внешние отступы */
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {
    margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    width: 100%;
    /* height: 500px; */
    background-color: black;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input,button,textarea,select {
    font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}
.container{
    max-width: 1400px;
    width: 100%;
    height: 1000px;
    margin: 0 100px auto 100px;
}
.content{
    padding: 100px 0px 0px 0px;
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#main_img{
    background: url("/img/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1400px;
    height: 1050px;
    position: absolute;
    z-index: 2;
/* background-size: 100%; /*Ширина картинки*/
}
/***********Стили для бургера:***********/
.header_burger{
    display: none;
}
/*********************Navbar*************************************/
nav{ 
    z-index: 2;
    position: relative;
    width: 100%;
    padding-top: 40px;
    margin-left: 100px;
    border: 0.5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; 
    border-radius: 10px;   
    /* font-size: 90px;
    letter-spacing: 0.03em; */
}
nav>a{
    font-family: sans-serif, serif; 
    color: aliceblue;
    text-decoration: none;
    font-weight:bolder;
    font-size:x-large;
    height: 100px;
}
nav>a:hover{
    cursor: pointer;
    color:brown;
}
#active-button{
    color: rgb(228, 104, 59);
}
.nav_bottom{
    padding-top: 30px;
    font-weight:bolder;
    font-size:x-large;
    height: 100px;
    font-style: oblique;
}
.nav_bottom>a{
    font-family: sans-serif, serif; 
    color: aliceblue;
    text-decoration: none;
    font-style: oblique;
}
.nav_bottom>a:hover{
    cursor: pointer;
    color:brown;
}
h1{
    z-index: 2;
    text-align: left;
    padding-left: 100px;
    /* padding-top: 50px; */
    font-weight: 900px;
    color: rgb(214, 221, 228);
    text-shadow: 0px 4px 10px rgba(212, 210, 215, 0.8);
    position: relative;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.about_us{
    z-index: 2;
    position: relative;   
    width: 377px;
    height: 880px;
    margin-top: 100px;
    margin-left: 1126px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid white;
}
h2{
    /* z-index: 2; */
    text-align: center;
    margin-top: 30px;
    font-weight:bolder;
    color: aqua;
}
#about1{
    padding-top: 20px;
    text-align: left;
    font-size: 25px;
    color: rgb(203, 200, 200);
}
/**********************Footer*******************/
.footer{
    z-index: 2;
    padding-left: 470px;
    position: absolute;
    bottom: -350px;
}
.footer__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	row-gap: 27px;
}
.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 30px;
	   -moz-column-gap: 30px;
	        column-gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.img-svg{
    -webkit-filter: url(#filter_B);
            filter: url(#filter_B);
}
.copyright a{
	font-size: 20px;
    color: white;
    text-decoration: none;
}
/*Эффект мигания ссылки*/
.copyright a:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
/******************************/
.copyright p + p {
	margin-top: 0;
}
.copyright p{
    font-family: sans-serif, serif;
}
